.software {
	height: 240px;
	width: 128px;
}

@media screen and (min-width: 1201px) {
	.software {
		background: url("software.png") 0px 0px;
	}
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
	.software {
		background: url("software.png") -128px 0px;
	}
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
	.software {
		background: url("software.png") -256px 0px;
	}
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
	.software {
		background: url("software.png") -384px 0px;
	}
}

@media screen and (min-width: 801px) and (max-width: 900px) {
	.software {
		background: url("software.png") -512px 0px;
	}
}

@media screen and (min-width: 701px) and (max-width: 800px) {
	.software {
		background: url("software.png") 0px -240px;
	}
}

@media screen and (min-width: 601px) and (max-width: 700px) {
	.software {
		background: url("software.png") -128px -240px;
	}
}

@media screen and (min-width: 501px) and (max-width: 600px) {
	.software {
		background: url("software.png") -256px -240px;
	}
}

@media screen and (min-width: 401px) and (max-width: 500px) {
	.software {
		background: url("software.png") -384px -240px;
	}
}

@media screen and (max-width: 400px) {
	.software {
		background: url("software.png") -512px -240px;
	}
}
*/